<h1>Hello</h1>
<table style="width: 100%">
  <thead>
  <tr>
    <th>Add Employee</th>
    <th>Employee List</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <app-add-employee></app-add-employee>
    </td>
    <td>
      <app-employee-list></app-employee-list>
    </td>
  </tr>
  </tbody>

</table>
<table>
  <thead>
    <tr></tr>
  </thead>
</table>

<hr>

<div>
  <h1>Data Binding</h1>
  <app-data-binding></app-data-binding>
</div>

<hr>

<div>
  <h1>Directives</h1>
  <app-structural-directive></app-structural-directive>
  <app-attribute-directive></app-attribute-directive>
</div>
