<!--<h1>Hello</h1>-->
<!--<table style="width: 100%">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>Add Employee</th>-->
<!--    <th>Employee List</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr>-->
<!--    <td>-->
<!--      <app-add-employee></app-add-employee>-->
<!--    </td>-->
<!--    <td>-->
<!--      <app-employee-list></app-employee-list>-->
<!--    </td>-->
<!--  </tr>-->
<!--  </tbody>-->

<!--</table>-->
<!--<table>-->
<!--  <thead>-->
<!--    <tr></tr>-->
<!--  </thead>-->
<!--</table>-->

<!--<hr>-->

<!--<div>-->
<!--  <h1>Data Binding</h1>-->
<!--  <app-data-binding></app-data-binding>-->
<!--</div>-->

<!--<hr>-->

<!--<div>-->
<!--  <h1>Directives</h1>-->
<!--  <app-structural-directive></app-structural-directive>-->
<!--  <app-attribute-directive></app-attribute-directive>-->
<!--</div>-->

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Angular 18</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
<!--        <li class="nav-item" style="margin-top:-12px;">-->
<!--          <a class="nav-link active" routerLink="emp-list">Employee List</a>-->
<!--        </li>-->
<!--        <li class="nav-item" style="margin-top:-12px;">-->
<!--          <a class="nav-link" routerLink="add-emp">Add Employee</a>-->
<!--        </li>-->
        <li class="nav-item">
          <a class="nav-link" routerLink="data-binding">Data Binding</a>
        </li>
        <li class="nat-item">
          <a class="nav-link" routerLink="life-cycle">Life Cycle Event</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Directive</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="structural-directive">Structural Directive</a></li>
            <li><a class="dropdown-item" routerLink="attribute-directive">Attribute Directive</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Control Flow</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="for">For</a></li>
            <li><a class="dropdown-item" routerLink="if-else">If Else</a></li>
            <li><a class="dropdown-item" routerLink="switch-case">Switch Case</a></li>
          </ul>
        </li>
<!--        <li class="nav-item" style="margin-top:-12px;">-->
<!--          <a class="nav-link" routerLink="for">For</a>-->
<!--        </li>-->
<!--        <li class="nav-item" style="margin-top:-12px;">-->
<!--          <a class="nav-link" routerLink="if-else">If Else</a>-->
<!--        </li>-->
<!--        <li class="nav-item" style="margin-top:-12px;">-->
<!--          <a class="nav-link" routerLink="switch-case">Switch Case</a>-->
<!--        </li>-->
        <li class="nav-item">
          <a class="nav-link" routerLink="pipe">Pipe</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Forms</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="template-form">Template Form</a></li>
            <li><a class="dropdown-item" routerLink="reactive-form">Reactive Form</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">API-HttpClient</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="get-api">Get API</a></li>
            <li><a class="dropdown-item" routerLink="post-api">Post API</a></li>
            <li><a class="dropdown-item" routerLink="get-api">Get API</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
