<div class="mt-2 p-2 bg-secondary text-white rounded">
  <h4>Reactive Form</h4>
  <h3>Create Form and Validation</h3>
</div>

<div class="row pt-3">
  <div class="col-8">
    <form class="row g-3" [formGroup]="studentForm">
      <div class="col-md-4">
        <label class="form-label">First name</label>
        <input type="text" formControlName="firstName" class="form-control">
        <div class="text-danger">
          @if ((studentForm.controls['firstName'].touched || studentForm.controls['firstName'].dirty) && studentForm.controls['firstName'].errors?.['required']) {
            <span>This is Required</span>
          } @else if ((studentForm.controls['firstName'].touched || studentForm.controls['firstName'].dirty) && studentForm.controls['firstName'].errors?.['minlength']) {
            <span>Min 3 char Required</span>
          }
        </div>
      </div>
      <div class="col-md-4">
        <label class="form-label">Last name</label>
        <input type="text" formControlName="lastName"  class="form-control">
        <div class="text-danger">
          @if ((studentForm.controls['lastName'].touched || studentForm.controls['lastName'].dirty) && studentForm.controls['lastName'].errors?.['required']) {
            <span>This is Required</span>
          } @else if ((studentForm.controls['lastName'].touched || studentForm.controls['lastName'].dirty) && studentForm.controls['lastName'].errors?.['minlength']) {
            <span>Min 3 char Required</span>
          }
        </div>
      </div>
      <div class="col-md-4">
        <label class="form-label">Username</label>
        <div class="input-group">
          <span class="input-group-text">&#64;</span>
          <input type="text" formControlName="userName" class="form-control">
        </div>
        <div class="text-danger">
          @if ((studentForm.controls['userName'].touched || studentForm.controls['userName'].dirty) && studentForm.controls['userName'].errors?.['required']) {
            <span>This is Required</span>
          } @else if ((studentForm.controls['userName'].touched || studentForm.controls['userName'].dirty) && studentForm.controls['userName'].errors?.['email']) {
            <span>Please Enter a valid email</span>
          }
        </div>
      </div>
      <div class="col-md-6">
        <label class="form-label">City</label>
        <input type="text" formControlName="city" class="form-control">
        <div class="text-danger">
          @if ((studentForm.controls['city'].touched || studentForm.controls['city'].dirty) && studentForm.controls['city'].errors?.['required']) {
            <span>This is Required</span>
          } @else if ((studentForm.controls['city'].touched || studentForm.controls['city'].dirty) && studentForm.controls['city'].errors?.['minlength']) {
            <span>Min 3 char Required</span>
          }
        </div>
      </div>
      <div class="col-md-3">
        <label class="form-label">State</label>
        <select class="form-select" formControlName="state">
          <option selected disabled value="">Choose...</option>
          <option>Maharashtra</option>
          <option>Goa</option>
          <option>Punjab</option>
        </select>
        <div class="text-danger">
          @if ((studentForm.controls['state'].touched || studentForm.controls['state'].dirty) && studentForm.controls['state'].errors?.['required']) {
            <span>This is Required</span>
          }
        </div>
      </div>
      <div class="col-md-3">
        <label class="form-label">Zip</label>
        <input type="text" formControlName="zipCode" class="form-control">
        <div class="text-danger">
          @if ((studentForm.controls['zipCode'].touched || studentForm.controls['zipCode'].dirty) && studentForm.controls['zipCode'].errors?.['required']) {
            <span>This is Required</span>
          } @else if ((studentForm.controls['zipCode'].touched || studentForm.controls['zipCode'].dirty) && (studentForm.controls['zipCode'].errors?.['minlength'] || studentForm.controls['zipCode'].errors?.['maxlength'])) {
            <span>Please Enter a Valid ZipCode</span>
          }
        </div>
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="isAcceptTerms">
          <label class="form-check-label" >
            Agree to terms and conditions
          </label>
          <div class="text-danger">
            @if ((studentForm.controls['isAcceptTerms'].touched || studentForm.controls['isAcceptTerms'].dirty) && studentForm.controls['isAcceptTerms'].errors?.['requiredTrue']) {
              <span>You must agree before submitting.</span>
            }

          </div>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-secondary" type="button">Reset form</button>
        <button class="btn btn-primary mx-2" type="button" [disabled]="studentForm.invalid" (click)="onSave()">Submit form</button>
      </div>
    </form>
  </div>
  <div class="col-4">
    {{formValue | json}}
  </div>
</div>

